<%= form_for @email, url:email_settings_path, :remote=>true do |f| %>
<div class="ui form segment">	
	<div class="ui toggle checkbox">
		<%=f.check_box :is_forward,  onclick:'$("#email-form").toggle();'%>
		<%=f.label :is_forward, "Auto forward"%>
	</div>
<div class="ui divider"></div>
<div class="ui info message" id="email-form">
	<p>Your messages will be forwarded to <%=link_to @gmail, "https://mail.google.com/a/stpauls.edu.hk"%>. </p>

	<p>Please contact KCW for help.</p>
</div>
<div class="field">
	<%=label_tag :password %>
	<div class="ui left labeled icon input">
		<%=password_field_tag :password %>
		<i class="key icon"></i>
		<div class="ui corner label">
			<i class="icon asterisk"></i>
		</div>
	</div>
</div>
<%=submit_tag "modify", class: "top attached ui blue submit button" %>
</div>
<% end %>

<div id="result"></div>

<script type="text/javascript">
$(function(){
	showOrHide=<%=@email.is_forward%>
	$("#email-form").toggle(showOrHide)
});
</script>
